<div class="container col-sm-6 border-bottom mt-2">
  <div class="float-left form-inline">
    <%= link_to user_path(article.user.id) do %>
      <div class="text-body font-weight-bold"><%= article.user.user_name %></div>
    <% end %>
    <small class="text-body text-muted ml-3"><%= article.created_at.in_time_zone('Tokyo') %></small>
  </div>
  <div class="dropdown float-right">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Menu
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
      <% unless controller.controller_name == "articles" && controller.action_name == "show" %>
        <%= link_to "Detail", article_path(article), class: "dropdown-item" %>
      <% end %>
      <% if user_signed_in? && article.user_id == current_user.id %>
        <%= link_to "Edit", edit_article_path(article), class: "dropdown-item" %>
        <%= link_to "Delete", article_path(article), method: :delete, class: "dropdown-item" %>
      <% end %>
    </div>
  </div>
  <div class="clearfix"></div>
  <p><%= simple_format(article.content) %></p>
</div>

